.texto{
    font-family: 'Cookie', cursive;
    text-align: justify;
}
.fondo{
    background-color: #F4B20D;
}
.fondo2{
    background-color: #DF1A1A;
}
.fondoR{
    background-color: #E8CCD1;
}
.tamano{
    font-size: 30px;
}